/*  ==========================================================================
    Variables etc
    ========================================================================== */

    :root {
        --font-family: "proxima-nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    }
    
    /*  ==========================================================================
        General
        ========================================================================== */
    
    body {
        background-image: linear-gradient(340deg, rgb(0,137,150) 0%, rgb(9,42,48) 100%);
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-feature-settings: "kern" 1, "liga" 1, 'lnum' 1;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }
    
    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 520px;
        height: 520px;
    }
    
    /*  ==========================================================================
        Dial
        ========================================================================== */
    
    .results__dial {
        visibility: hidden;
    }
    
    .results__dial text, 
    .results__dial tspan {
        user-select: none;
    }
    
    /*  Percentage Markers
        ========================================================================== */
    
    .results__dial-percent-text text {
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    
    /*  Text
        ========================================================================== */
    
    .results__dial-perc-text, 
    .results__dial-results {
        font-feature-settings: "tnum" 1; 
        text-anchor: middle;
    }
    
    .results__dial-perc-text, 
    .results__dial-results { 
        font-size: 24px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 700;
    }
    
    .results__dial-perc {
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 700;
        text-anchor: middle;
        font-size: 48px;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    
    .results__dial-saving {
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    
    /*  Dragger
        ========================================================================== */
    
    .results__dial-drag-arrows, 
    .results__dial-drag-pad {
        pointer-events: none;
    }
    
    .results__dial-drag-hit {
        cursor: pointer;
    }
    